modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Elena DJ Full Stack"

[[workflows.workflow]]
name = "Run Elena DJ"
author = 45246745
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Elena DJ Full Stack"
author = 45246745
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && python backend.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && npm start"
